@model BookClub.Models.Book

<h1>Add Genre</h1>
<hr>
<h4>Add a genre to @Html.DisplayFor(m => m.Title)</h4>
<hr>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.BookId)

    <div class="form-group">
        @Html.Label("Select genre")
        @Html.DropDownList("GenreId", ViewBag.GenreId, "Select genre", new { @class = "form-control form-control-sm" })
    </div>

    <input class="btn btn-default" type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Index")</p>