@model BookClub.Models.Book

<h1>Add New Book</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.PublicationYear)
    <input type="date" asp-for="PublicationYear">
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.ISBN)
    @Html.TextBoxFor(m => m.ISBN)
  </div>
  <div class="form-group">
    <input type="submit" value="Add Book">
    <small class="form-text text-muted"><a asp-action="Index">Cancel</a></small>
  </div>
}