@model BookClub.Models.Book

<h2>Add an author</h2>

<h4>Add an author: @Html.DisplayFor(m => m.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.BookId)

    <div class="form-group">
        @Html.Label("Select author")
        @Html.DropDownList("AuthorId", ViewBag.AuthorId, "Select Author", new { @class = "form-control form-control-sm" })
    </div>

    <input class="btn btn-default" type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Index")</p>