@model BookClub.Models.Genre

<h1>@Model.Name</h1>
<hr>

<div class="row">
  <div class="col col-lg-6 genre-details-col">
    <h4>Authors</h4>
    @if (@Model.Authors.Count == 0)
    {
      <p>No authors found.</p>
      <div>
        <a class="btn btn-light" asp-action="AddAuthor" asp-route-id="@Model.GenreId">Add author?</a>
      </div>
    }
    else
    {
      <table class="table table-striped">
        @foreach (var join in @Model.Authors)
        {
          <tr>
            <td>@join.Author.Name</td>
            <td>
              @using (Html.BeginForm("DeleteAuthor", "Genres"))
              {
                @Html.Hidden("joinId", @join.AuthorGenreId)
                <input class="btn btn-light btn-sm" type="submit" value="Remove this Author"/>
              }
            </td>
          </tr>
        }
      </table>
      <div>
        <a class="btn btn-light" asp-action="AddAuthor" asp-route-id="@Model.GenreId">Add another author?</a>
      </div>
    }
  </div>
  <div class="col col-lg-6 genre-details-col">
    <h4>Books</h4>
    @if (@Model.Books.Count == 0)
    {
      <p>No books found.</p>
      <div>
        <a class="btn btn-light" asp-action="AddBook" asp-route-id="@Model.GenreId">Add book?</a>
      </div>
    }
    else
    {
      <table class="table table-striped">
        @foreach (var join in @Model.Books)
        {
          <tr>
            <td>@join.Book.Title</td>
            <td>
              @using (Html.BeginForm("DeleteBook", "Genres"))
              {
                @Html.Hidden("joinId", @join.BookGenreId)
                <input class="btn btn-light btn-sm" type="submit" value="Remove this book"/>
              }
            </td>
          </tr>
        }
      </table>
      <div>
        <a class="btn btn-light" asp-action="AddBook" asp-route-id="@Model.GenreId">Add another book?</a>
      </div>
    }
  </div>
</div>
<hr>

<div>
  <a class="btn btn-light" asp-action="Index">Back to genres</a>
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.GenreId">Edit genre</a>
  <a class="btn btn-light" asp-action="CheckDelete" asp-route-id="@Model.GenreId">Delete genre</a>
</div>