@model BookClub.Models.Genre

<h1>@Model.Name</h1>
<hr>

<div class="row">
  <div class="col col-lg-6 genre-details-col">
    <h4>Authors</h4>
    @if (@Model.Authors.Count == 0)
    {
      <p>No authors found.</p>
      @* <div>
        <a class="btn btn-light" asp-action="AddAuthor" asp-route-id="@Model.GenreId">Add author?</a>
      </div> *@
    }
    else
    {
      @foreach (var join in @Model.Authors)
      {
        <div class="form-group">
          <p>@join.Author.Name</p>
          @* @using (Html.BeginForm("DeleteJoin", "Genres"))
          {
            @Html.Hidden("joinId", @join.AuthorGenreId)
            <input class="btn btn-light btn-sm" type="submit" value="Remove this Author"/>
          } *@
        </div>
      }
      @* <div>
        <a class="btn btn-light" asp-action="AddAuthor" asp-route-id="@Model.GenreId">Add author?</a>
      </div> *@
    }
  </div>
  <div class="col col-lg-6 genre-details-col">
    <h4>Books</h4>
    @if (@Model.Books.Count == 0)
    {
      <p>No books found.</p>
      @* <div>
        <a class="btn btn-light" asp-action="AddBook" asp-route-id="@Model.GenreId">Add book?</a>
      </div> *@
    }
    else
    {
      @foreach (var join in @Model.Books)
      {
        <div class="form-group">
          <p>@join.Book.Title</p>
          @* @using (Html.BeginForm("DeleteJoin", "Genres"))
          {
            @Html.Hidden("joinId", @join.BookGenreId)
            <input class="btn btn-light btn-sm" type="submit" value="Remove this Book"/>
          } *@
        </div>
      }
      @* <div>
        <a class="btn btn-light" asp-action="AddBook" asp-route-id="@Model.GenreId">Add Book?</a>
      </div> *@
    }
  </div>
</div>
<hr>


<div>
  <a class="btn btn-light" asp-action="Index">Back to genres</a>
  <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.GenreId">Edit genre</a>
  <a class="btn btn-light" asp-action="CheckDelete" asp-route-id="@Model.GenreId">Delete genre</a>
</div>